.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.header-container .row {
  position: relative;
  text-align: center;
}

.header-container h1 {
  font-size: 4em;
}

.header-container h2 {
  font-size: 2em;
}

.header-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
