html {
  min-height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 300 11px/1.4 "Garamond";
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Roboto", sans-serif;
}
