.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content h1 {
  text-align: left;
  font-size: 2.5rem;
}

.about-content p {
  text-align: left;
  font-size: 2rem;
}

.about-content h2 {
  text-align: left;
}

.about-content ul {
  text-align: left !important;
  list-style-position: inside !important;
}

.btn-light:hover {
  background-color: #252f37 !important;
}

@media (max-width: 1024px) {
  .about-container {
    height: auto !important;
    padding-top: 25vh;
  }
}

@media (max-width: 768px) {
  .about-container {
    min-height: auto;
  }
}

a {
  text-decoration: none !important;
}