.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content h1 {
  text-align: left;
  font-size: 2.5rem;
}

.about-content p {
  text-align: left;
  font-size: 2rem;
}

.about-content h2 {
  text-align: left;
}

.about-content ul {
  text-align: left !important;
  list-style-position: inside !important;
}

.btn-light:hover {
  background-color: #252f37 !important;
}

@media (max-width: 768px) {
  .about-content {
    margin-top: 500px;
    padding-top: 200px;
  }
}

@media (max-width: 1008px) {
  .about-content {
    margin-top: 200px;
  }
}
