.proj-container {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
}

.proj-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
}

.proj-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .proj-container {
    margin-top: 400px;
  }
}
