.resume-container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
}

.resume-content {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

@media (max-width: 767px) {
  .resume-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn-custom {
  background-color: #0d1821;
}
