.resume-container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
}

.resume-content {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

@media (max-width: 767px) {
  .react-pdf__Page__canvas {
    padding-top: 100px;
    width: 100% !important;
    height: 100% !important;
    transform: scale(1.5);
  }
}
