.proj-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-bg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.proj-text {
    position: absolute;
    margin: auto;
}

.heading {
    font-size: 80px;
}

.proj-card-cont {
    position: absolute;
    margin: auto;
}

.h1 {
    color: #344966;
}