.pro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-bg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.pro-text {
    position: absolute;
    margin: auto;
}

.heading {
    font-size: 80px;
}
