h1 {
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
}

p {
    justify-content: center;
    text-align: center;
}

a:link {
    text-decoration: none;
}