.footer {
  padding: 8px 6px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  justify-content: center;
  text-align: center;
  color: #344966;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 10px;
}

p {
  justify-content: center;
  text-align: center;
  color: #344966;
}

a:link {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer {
    padding: 0px 3px;
  }
}
