.proj-card {
    /* box-shadow: 0 4px 5px 3px; */
    color: white;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    height: 100%;
}

.card-img {
    height: 100%;
}

.card-txt {
    color: #344966;
}